<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourkites.trucknavigator">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="9n0udvLjYuhRQeXIFOsY" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="9n0udvLjYuhRQeXIFOsY" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="Dn736m8t5kNJnUM3K+5KVzCdoIVP2nBImTPd3+5U2wmgeH2zIOJ2PegG56yaFWh/sYdKpE5bMMjdJnnzudE0/OpObmery2acRyfVJFqTTec2kxDoai2YagP2eJJTPYBEOEOZ8EI97fbveUQ2JF4tuTbuCc05HR2Sc8mQifeEa2Pfz2oYt/1sTYoJFwMkl0dj6qEKSlhC0w3+Tze4J3hOvIQphzjS5qrgazFPOkk41i9p8RBWSOz2gvboTfsbJ/3druI5ZjBYgGa/v4PuOLcm6ykX+2c+TphBZOMA3qFoxl+7BxDZXocWl1tI8AgX/91tZgbSQ13mJHxhR81hZ2WtkwqP1HkDah/83mOOBIKsY7jE/alMPrcfuWfeVeRpQQ/giUHIXilzrtSMkHaWUXj0DepperHR+1GdZfqsFp9aN6VVM1gvoKu309e2IrwDi4wT3ONGExYvCCZWgVB3Iz9x/JqgriiQE73Ze+u+XvDOhPv0ayrrdnwEd/04NTdgxIVsDnrYQXJQT5Zm8fVeW+E8so1WvFCnZW7LuWmhYeJXItTq3SxNuopZhdQLHh4MaFRc5EIolui6E517P9yAZQdO+YCjon+KyuI/x7JhCr/qQFuS1CVdFJSdWMuFnx64RLl1Eb3AU1bKwNuRjcV7SMGHOMOqRo3a0D2f/Y2wjk10bS0=" />

        <receiver android:name=".receiver.LocationSettingChangedReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3" />
            </intent-filter>
        </service>

        <activity
            android:name=".NavigationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3fda3ecf896aa3b60f817d370226f3f89fef27e5" />
    </application>

</manifest>