<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourkites.trucknavigator">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="@string/app_code" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="@string/license" />

        <receiver android:name=".receiver.LocationSettingChangedReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v3">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3" />
            </intent-filter>
        </service>

        <activity
            android:name=".NavigationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3fda3ecf896aa3b60f817d370226f3f89fef27e5" />
    </application>

</manifest>